.terminal-show #editor {
     position: absolute;
     top: 54px;
     right: 0;
     bottom: 30%;
     left: 0;
}

.terminal-hide #editor {
     position: absolute;
     top: 54px;
     right: 0;
     bottom: 0;
     left: 0;
}

#navbar {
     background-color: #24292e;
}

.genesis {
     font-family: 'Overpass Mono', monospace;
}

.register #register-form{
     display:block;
}

.register #login-form{
     display:none;
}

.login #register-form{
     display:none;
}

.login #login-form{
     display:block;
}

.terminal-show #terminal {
     display: block;
     font-family: 'Ubuntu Mono', monospace;
     font-size: 16px;
     color: white;
     background: black;
     border-top: 1px solid #464742;
     border-left: none;
     border-bottom: none;
     border-right: none;
     position: absolute;
     top: 70%;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 30%;
     margin: 0;
     padding: 0;
     resize: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     overflow: auto;
     outline: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
}

.terminal-hide #terminal {
     display: none;
}
