.root .menu-item-delete, .root .menu-item-delete-directory, .root .menu-item-delete-file{
     display:none !important;
}

.modal-small{
     max-height: 240px;
     width: 600px;
}

.directory .menu-item-delete-file{
     display:none;
}

.del-file .menu-item-delete-directory{
     display:none;
}

.terminal-show #editor {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 30%;
     left: 0;
}

#directory{
     background-color: #272822;
}


.terminal-hide #editor {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}

#parent{
     position: absolute;
     top: 64px;
     right: 0;
     bottom: 0;
     left: 0;
}


.directory-show #container{
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 15%;
}
.directory-show #directory{
     position: absolute;
     top: 0;
     right: 85%;
     bottom: 0;
     left: 0;
}

.directory-hide #container{
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}

.directory-hide #directory{
     position: absolute;
     top: 0;
     right: 100%;
     bottom: 0;
     left: 0;
}

body{
     background-color: #272822;
}

#navbar {
     background-color: #24292e;
}

.genesis {
     font-family: 'Overpass Mono', monospace;
}

.register #register-form{
     display:block;
}

.register #login-form{
     display:none;
}

.login #register-form{
     display:none;
}

.login #login-form{
     display:block;
}

.terminal-show #terminal {
     display: block;
     font-family: 'Ubuntu Mono', monospace;
     font-size: 16px;
     color: white;
     background: black;
     border-top: 1px solid #464742;
     border-left: none;
     border-bottom: none;
     border-right: none;
     position: absolute;
     top: 70%;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 30%;
     margin: 0;
     padding: 0;
     resize: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     overflow: auto;
     outline: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
}

.terminal-hide #terminal {
     display: none;
}
